@import url('https://fonts.googleapis.com/css2?family=Noto+Emoji&family=Roboto+Mono&display=swap');

body {
    overflow: hidden;
    height: 100vh;
    background-color: rgb(34, 34, 34);
    color: beige;
    font-family: 'Roboto Mono', monospace;
    user-select: none;
}

.hbox {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.vbox {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main {
    height: 100%;
    justify-content: center;
}

#frame {
    background-color: whitesmoke;
    border: 20px ridge burlywood;
    margin: 20px;
    padding: 40px;
}

button {
    padding: 6px;
    background-color: rgb(70, 70, 70);
    border: 3px solid burlywood;
    color: beige;
    border-radius: 4px;
}

button:hover {
    background-color: rgb(90, 90, 90);
}

button:active {
    background-color: rgb(133, 133, 133);
}

.weight {
    height: 20vh;
}

h1 {
    margin: 20px;
}

.footer {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 20px;
    width: 100vw;
}

a {
    color: beige;
}

.emoji {
    font-family: 'Noto Emoji', sans-serif;
}

.left:hover {
    position: relative;
    right: 4px;
    /* transform: rotate(-10deg); */
}

.right:hover {
    position: relative;
    left: 4px;
    /* transform: rotate(10deg); */
}

.roll:hover {
    transform: rotate(180deg);
}